p {
    color: rgb(31, 72, 193);
    text-decoration: underline;
}

@font-face {
    src: url(../fonts/JustOldFashion.ttf);
    font-family: font1;
}

.font1 {
    font-family: font1;
}

@font-face {
    font-family: font2;
    src: url(../fonts/SCRIPTIN.ttf);
}

.font2 {
    font-family: font2;
}

.p1 {
    font-family: 'Akshar', sans-serif;
}